.simple-sheet col.rowHeader {
  width: 230px;
}
.simple-sheet th {
  background-color: #EEE;
  color: #222;
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
}
.relative span{
    text-align: center;
    padding-top: 10px;
    color: rgb(155, 13, 13);
    display: block;
}
.simple-sheet .dragdealer{
	height:17px;
}
.simple-sheet .dragdealer .handle{
	height:15px;
}
.simple-sheet tr th:first-child ,.simple-sheet th td:first-child {
	background-color: #fff;
	font-size: 15px;
	height: 1.5em;
	padding: 2px;
	padding-left: 10px;
	border: 1px dotted rgb(235, 235, 235);
	height: 33px;
	display: block;
}
.simple-sheet tr:nth-child(odd) td,.simple-sheet tr:nth-child(odd) th {
background-color: #f9f9f9;
}
.simple-sheet tr:first-child th:not(:first-child),.simple-sheet col.rowHeader  {
border: 0px;
border-bottom: 1px solid #ccc;
border-left: 1px solid #ccc;
border-right: 1px solid #fff;
border-bottom: 1px solid #D5CACA;
background-image: -webkit-linear-gradient(top, #F8F8F8, #E9E9E9);
background-color: #F8F8F8;
background-image: -moz-linear-gradient(top, #F8F8F8, #E9E9E9);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#E9E9E9));
background-image: -webkit-linear-gradient(top, #F8F8F8, #E9E9E9);
background-image: -o-linear-gradient(top, #F8F8F8, #E9E9E9);
background-image: linear-gradient(to bottom, #F8F8F8, #E9E9E9);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#E9E9E9', GradientType=0);
height: 3.5em !important;
min-height: 3.5em !important;
} 
.handsontable th, .handsontable td {
border-right: 1px solid #CCC;
height: 22px;
empty-cells: show;
line-height: 21px;
padding: 0 4px 0 4px;
background-color: #FFF;
border: 1px dotted rgb(235, 235, 235);
font-size: 12px;
vertical-align: top;
overflow: hidden;
outline-width: 0;
}
.navbar a>.icon{
	font-size:1.8em;
}
